build/
dist/
__pycache__/
.idx/
.vscode/
*.pyc
nanite.egg-info/
snapshots/
nanite.egg-info/SOURCES.txt
.pytest_cache/
best*.pt
cache_chunks/
debug.log
logs/
visualizations/
profiles/
wavefunctions/
checkpoints/
configs/default.json
pretrained/GoogleNews-vectors-negative300.bin
training_data/*.txt
*.pyd